.body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.greetingBox {
    width: 650px;
    height: 320px;
    background-color: #1e3a8a;
    color: #f8fafc;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.greetingBox:hover {
    background-color: #2563eb;
    color: #e2e8f0;
    transform: scale(1.05);
}

.center {
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}
